<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container p-5 mt-3">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="card card-sh">
						<div class="card-header text-center ">
							<p class="fs-4">Sua san pham</p>

							<th:block th:if="${session.succMsg}">
								<p class="text-success fw-bold">[[${session.succMsg}]]</p>
								<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

							<th:block th:if="${session.errorMsg}">
								<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
								<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

						</div>
						<div class="card-body">
							<form action="/admin/updateProduct" method="post"
								enctype="multipart/form-data">
								<input type="hidden" name="productId" th:value="${product.productId}">
								<div class="mb-3">
									<label>Ten San Pham</label> <input type="text" name="tensanpham"
										th:value="${product.tensanpham}" class="form-control">
								</div>

								<div class="mb-3">
									<label>Mo ta</label>
									<textarea rows="3" cols="" class="form-control"
										name="mota" th:text="${product.mota}"></textarea>
								</div>
								<div class="mb-3">
									<label>Cau hinh</label>
									<textarea rows="3" cols="" class="form-control"
											  name="cauhinh" th:text="${product.cauhinh}"></textarea>
								</div>
								<div class="row">
									<div class="mb-3 col">
										<label>Danh Muc</label> <select class="form-control"
											name="DanhMuc">
										<option>[[${product.danhMuc}]]</option>
										<option th:each="c:${category}" >${c.tendanhmuc}"</option>
										</select>
									</div>
									<div class="mb-3 col">
										<label>Gia</label> <input type="number" name="gia"
											th:value="${product.gia}" class="form-control">
									</div>
									<div class="mb-3 col">
										<label>% Giam</label> <input type="number" name="sale"
																		  th:value="${product.sale}" class="form-control">
									</div>
									<div class="mb-3 col">
										<label>Gia Da Giam</label> <input type="number" name="giaSale" readonly
																		  th:value="${product.giaSale}" class="form-control">
									</div>
								</div>

								<div class="mb-3">
									<label>Status</label>

									<div class="form-check">
										<input class="form-check-input" type="radio" th:checked="${product.trangthai==true}"
											value="true" name="trangthai" id="flexRadioDefault1">
										<label class="form-check-label" for="flexRadioDefault1">
											HOAT DONG </label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="trangthai" th:checked="${product.trangthai==false}"
											value="false" id="flexRadioDefault2"> <label
											class="form-check-label" for="flexRadioDefault2">
											KHONG HOAT DONG </label>
									</div>

								</div>

								<div class="row">

									<div class="mb-3 col">
										<label>Enter Stock</label> <input type="text" name="soluong"
											th:value="${product.soluong}" class="form-control">
									</div>

									<div class="mb-3 col">
										<label>Upload Image</label> <input type="file" name="file"
											class="form-control">
									</div>

									<div class="mt-1">
										<img th:src="@{'/img/product_img/'+${product.hinhanh}}"
											width="100px" height="100px">
									</div>

								</div>
								<button class="btn btn-primary col-md-12">Update</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>