<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<section>
    <div class="container p-5">
        <p class="text-center fs-3 mt-4">Admin Dashboard</p>
        <div class="row p-5">
            <div class="col-md-4 mt-2">
                <a href="/admin/loadAddProduct" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-primary">
                            <i class="fa-solid fa-square-plus fa-3x"></i>
                            <h4>Thêm Sản Phẩm</h4>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-4 mt-2">
                <a href="/admin/category" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-warning">
                            <i class="fa-solid fa-list fa-3x"></i>
                            <h4>Thêm Danh Mục</h4>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-4 mt-2">
                <a href="/admin/products" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-success">
                            <i class="fa-solid fa-table-list fa-3x"></i>
                            <h4>Xem Sản Phẩm</h4>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-4 mt-4">
                <a href="/admin/orders" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-warning">
                            <i class="fa-solid fa-box-open fa-3x"></i>
                            <h4>Đơn Đặt Hàng</h4>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-md-4 mt-4">
                <a href="/admin/users" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-primary">
                            <i class="fa-solid fa-circle-user fa-3x"></i>
                            <h4>Người Dùng</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mt-4">
                <a href="/admin/warehouse" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-primary">
                            <i class="fa-solid fa-warehouse fa-3x"></i>
                            <h4>Nhập Kho</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mt-4">
                <a href="/admin/comment" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-primary">
                            <i class="fa-solid fa-comment fa-3x"></i>
                            <h4>Bình Luận</h4>
                        </div>
                    </div>
                </a>
            </div>




        </div>
    </div>
</section>
</body>
</html>