<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container mt-5 p-5">
			<div class="row">
				<p class="text-center fs-3">Giỏ hàng của bạn</p>
				<th:block th:if="${session.succMsg}">
					<p class="text-success fw-bold text-center">[[${session.succMsg}]]</p>
					<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>

				<th:block th:if="${session.errorMsg}">
					<p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
					<th:block th:text="${@commnServiceImpl.removeSessionMessage()}"></th:block>
				</th:block>
				<div class="col-md-12 ">

					<table class="table table-bordered card-sh">
						<thead >
							<tr >
								<th scope="col">Mã Đơn Hàng</th>
								<th scope="col">Ngày Đặt Hàng</th>
								<th scope="col">Tên Sản Phẩm</th>
								<th scope="col">Giá</th>
								<th scope="col">Trạng Thái</th>
								<th scope="col">Hủy Đơn</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="o:${productOrders}">
								<th scope="row">[[${o.orderId}]]</th>
								<td>[[${#temporals.format(o.orderDate, 'dd-MM-yyyy')}]]</td>

								<td>[[${o.product.tensanpham}]]</td>
								<td>Số Lượng : [[${o.quantity}]] <br>Giá :
									[[${o.price}]] <br>Tổng Tiền :[[${o.quantity *
									o.price}]]
								</td>
								<td th:text="${o.status} == 'DANG_XULY' ? 'ĐANG XỬ LÝ' : 'HỦY HÀNG'" />
								<td><th:block th:if="${o.status!='Cancelled'}">
										<a th:href="@{'/user/update-status?id='+${o.id}+'&st=6' }"
											class="btn btn-sm btn-danger">Cancel</a>
									</th:block> <th:block th:unless="${o.status!='Cancelled'}">
										<a href="#" class="btn btn-sm btn-danger disabled" >Hủy Đơn</a>
									</th:block></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</section>
</body>
</html>