<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>

</head>
<body>
<section>


    <!--< Start Category Module -->
    <div class="container" style="position: absolute;">
        <div class="row" style="display:flex; justify-content: center">
            <p class="text-center fs-4">Danh Mục</p>
            <div class="col-md-2">
                <div
                        class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
                    <div class="card-body text-center">
                        <img src="img/category_img/beuty.png" width="65%" height="140px">
                        <p>Beauty</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div
                        class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
                    <div class="card-body text-center">
                        <img src="img/category_img/pant.png" width="65%" height="140px">
                        <p>Clothes</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div
                        class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
                    <div class="card-body text-center">
                        <img src="img/category_img/laptop.jpg" width="65%" height="140px">
                        <p>Laptop</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div
                        class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
                    <div class="card-body text-center">
                        <img src="img/category_img/mobile.png" width="65%" height="140px">
                        <p>Mobile</p>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div
                        class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
                    <div class="card-body text-center">
                        <img src="img/category_img/groccery.jpg" width="65%"
                             height="140px">
                        <p>Grocery</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- End Category Module -->


    <!-- Start Latest Product Module -->

    <div class="container-fluid bg-light p-3">
        <div class="row">
            <p class="text-center fs-4">Latest Product</p>


            <div class="col-md-3">
                <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img alt="" src="img/product_img/laptop.jpg" class="" width="65%"
                             height="140px">
                        <p class="text-center">HP Laptop</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img alt="" src="img/product_img/laptop.jpg" class="" width="65%"
                             height="140px">
                        <p class="text-center">HP Laptop</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img alt="" src="img/product_img/laptop.jpg" class="" width="65%"
                             height="140px">
                        <p class="text-center">HP Laptop</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- End Latest Product Module -->
</section>

</body>
</html>