<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>

</head>
<body>
<section>

    <div class="container-fluid bg-primary p-4 mt-5 ">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form action="/products" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" name="ch">
                        <button class="btn btn-light text-dark ms-3 col-md-2">
                            <i class="fa-solid fa-magnifying-glass"></i> Search
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>


    <div class="container-fluid mt-1">
        <div class="row">

            <div class="col-md-2 p-0">

                <div class="card shadow-sm p-0 mb-5 bg-body-tertiary rounded">
                    <div class="card-body">
                        <div class="list-group">
                            <a href="/products" class="list-group-item list-group-item-action active" aria-current="true">Danh Muc</a>
                            <a  th:each="c:${categories}" class="list-group-item list-group-item-action" th:href="@{'/products?category='+${c.tendanhmuc}}">
                                [[${c.tendanhmuc}]]
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <p class="fs-3 text-center">San Pham</p>
                        <div class="row">

                            <div class="col-md-3"  th:each="p,c:${products}">
                                <div class="card">
                                    <button type="button" class="btn btn-warning" style="width: fit-content">[[${p.sale}]]%</button>
                                    <div class="card-body" style="text-align: center">
                                        <div><img th:src="@{'/img/product_img/'+${p.hinhanh}}"
                                                 width="70px" height="70px"></div>
                                        <div>
                                            [[${p.tensanpham}]]
                                        </div>
                                        <div>
                                            [[${p.cauhinh}]]
                                        </div>
                                        <div>
                                           Bao Hanh: [[${p.baohanh}]] nam
                                        </div>
                                        <div class="row text-center">
                                                <div class="">[[${p.giaSale}]] VND</div>
                                                <div class="text-decoration-line-through">[[${p.gia}]]VND</div>

                                            <a class="btn btn-primary col-md-6 offset-md-3" th:href="@{'/product/'+${p.productId}}">Chi Tiet</a>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

</section>
</body>
</html>